# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Credentials
.env
.env.local
.env.*.local
credentials.json
secrets.yaml
config.yaml
local.yaml

# Logs
*.log

# Test cover
coverage.txt
coverage.html
profile.out
/testdata/*.out

#DB
*postgres_data

# Debug
*__debug_bin*

/build/
/dist/
/output/

*.tar.gz
Dockerfile-dev